@import (inline) "../../../../../node_modules/photoswipe/dist/photoswipe.css";

.statut option {
    background: white;
    color: black;
}

.photo {
    padding: 10px;
    img {
        width: 100%;
    }
    &.photo-drop {
        min-height: 200px; // utilisé quand il se retrouve tout seul sur sa ligne
    }
}

.gallerie, .photo {
    position: relative; // requis par angular-drag-and-drop-lists : https://github.com/marceljuenemann/angular-drag-and-drop-lists#required-css-styles
}

.dndDraggingSource {
    display: none;
}

.dndPlaceholder {
    background: @brown;
}