@import (inline) "../../../../../node_modules/photoswipe/dist/photoswipe.css";
@import (inline) "../../../../../node_modules/photoswipe/dist/default-skin/default-skin.css";

.statut option {
    background: white;
    color: black;
}

@photo-gutter: 1.25vw;
.gallerie {
    margin-left: -@photo-gutter;
    margin-right: -@photo-gutter;
}

.photo-editable-border() {
    padding: 10px;
    border: 1px dashed @brown;
}

.photo-dragover() {
    background: @lightbrown;
    color: @cream;
}

.photo, .photo-editable, .photo-drop, .dndPlaceholder {
    padding: @photo-gutter;
    text-align: center;

    display: flex;
    align-items: stretch;
    > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    img {
        width: 100%;
    }
}

.dndPlaceholder {
    &:before {
        width: 100%;
        content: " ";
        .photo-dragover();
    }
}

.photo-editable {
    > div {
        .photo-editable-border();
        cursor: move;
    }

    .supprimer-photo {
        font-size: .75em;
        margin-bottom: .5em;
        margin-left: auto;
    }
}

.photo-drop {
    > div {
        .photo-editable-border();
        justify-content: center;
        cursor: pointer;

        &.dragover {
            .photo-dragover();
        }
    }
}

.photo-editable, .photo-drop {
    position: relative; // requis par angular-drag-and-drop-lists : https://github.com/marceljuenemann/angular-drag-and-drop-lists#required-css-styles
}

.dndDraggingSource {
    display: none;
}
