<div class="container">
    <h1>Bonjour {{ user.username }}</h1>
    <p>
        Zigotoo n'est pas encore prêt. Soyez sur que nous travaillons d'arrache pied pour mettre le site au point.
    </p>
    <p>
        En attendant, n'hésitez pas à <a href="{{ path('contact_route') }}">nous contacter</a>
        pour nous faire part de vos attentes, de vos craintes ou de n'importe quoi en fait...
        Votre avis est primordial pour nous puisque nous développons ce site <u>pour vous</u>.
    </p>

    <p>
        Amicalement, <br>
        L'équipe Zigotoo.
    </p>

</div>