/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/coverage/*
/app/logs/*
/app/Resources/**/branch.gen.less
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/node_modules/
/vendor/
/web/build/
/bin/
/composer.phar
.idea
.DS_Store
