@import (inline) "../../../node_modules/normalize.css/normalize.css";

//colors
@cream: #f8efe0;
@blue: #568389;
@yellow: #f8a732;
@brown: #8e6048;
@valid: green;
@warn: #ff7733;
@error: #d5332f;

//font-size
@normal: 1rem;
@smaller: .8rem;
@bigger: 1.2rem;

* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: black;
}

body {
    background: @cream;
    color: @brown;
}

a {
    color: @blue;
}

input[type="submit"] {
    border: none;
}

.container {
    margin-right: auto;
    margin-left: auto;

    @media (min-width: @small-screen) {
        width: @small-screen * .8;
    }
    @media (min-width: @medium-screen) {
        width: @medium-screen * .8;
    }
    @media (min-width: @large-screen) {
        width: @large-screen * .8;
    }
}

.padded {
    padding: 5vmin;

    @media (min-width: @small-screen) {
        padding-left: 0;
        padding-right: 0;
    }
}

.text-right,
.text-right-tiny-left {
    text-align: right;
}

@media (max-width: @tiny-screen) {
    .text-right-tiny-left {
        text-align: left;
    }
}

.italic {
    font-style: italic;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .5em;
    border-radius: 8px;
    border: none;
    font-size: inherit;

    box-shadow: 0 0 2px 1px @brown inset;

    .colored-btn(transparent, @brown);

    &:hover {
        box-shadow: 0 0 2px 2px @brown inset;
    }

    &:active {
        background-color: @brown;
        color: @cream;
        box-shadow: none;
    }
}

.colored-btn(@backgroundColor, @color) {
    background-color: @backgroundColor;
    color: @color;
    border-color: @backgroundColor;
}

.btn-primary {
    .colored-btn(@yellow, black);
}

.chip {
    display: inline-block;
    border-radius: 2em; // correspond à rien, c'est pour être sur que c'est bien rond
    border-width: 1px;
    border-style: solid;
    padding: .4em .8em;

    .colored-btn(@brown, white);
}

.chip-valid {
    .colored-btn(@valid, white);
}

.chip-warn {
    .colored-btn(@warn, white);
}

.chip-error {
    .colored-btn(@error, white);
}

.form-input {
    margin-top: .4em;
    margin-bottom: 1.2em;
}

.has-error .help-block {
    color: @error;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    display: block;
    width: 100%;
    padding: .33em;
    border: 1px solid @brown;
    border-radius: 5px;
    font-size: inherit;
    &:focus {
        outline: none;
        border-color: @yellow;
        box-shadow: 0 0 2px 1px @yellow inset;
    }

    .has-error & {
        border-color: @error;
        box-shadow: 0 0 2px 1px @error inset;
    }

    .form & {
        .form-input;
    }
}

form [type="submit"] {
    .btn();
    .btn-primary();
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.global-header {
    color: white;
    background: black;
    padding: 1vmin 5vmin;

    .container {
        align-items: baseline;
    }

    .global-header-logo {
        font-size: 1.6em;
        text-decoration: none;
        color: white;
    }

    .global-header-login {
        font-size: @smaller;
        text-align: right;
    }
}

.global-footer {
    font-size: @smaller;
    padding: 2em;
    background: black;
    color: white;

    .container {
        display: flex;
        justify-content: center;

        > a {
            border-left: 2px solid #D0D0D0;
            padding: 0 1em;

            &:first-child {
                border-left: none;
            }
        }
    }
}

.global-footer, .global-header {
    a {
        color: white;
    }
}