@import "../../../node_modules/bootstrap/less/variables.less";
@import "../../../node_modules/bootstrap/less/mixins.less";

@icon-font-path: '/build/lib/';

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('@{icon-font-path}@{icon-font-name}.eot');
    src: url('@{icon-font-path}@{icon-font-name}.eot?#iefix') format('embedded-opentype'),
    url('@{icon-font-path}@{icon-font-name}.woff2') format('woff2'),
    url('@{icon-font-path}@{icon-font-name}.woff') format('woff'),
    url('@{icon-font-path}@{icon-font-name}.ttf') format('truetype'),
    url('@{icon-font-path}@{icon-font-name}.svg#@{icon-font-svg-id}') format('svg');
}

html {
    font-size: 16px;
}

.global-header {
    background: linear-gradient(#E0E0E0, #D0D0D0);

    .navbar-brand {
        color: black;
    }

    + * {
        //pour ne pas passer derrière nav
        padding-top:    @navbar-height + @navbar-margin-bottom;
        padding-bottom: @navbar-height + @navbar-margin-bottom;
    }
}

.global-footer {
    display: flex;
    justify-content: center;
    padding: 2em 0;

    > a {
        border-left: 2px solid #D0D0D0;
        padding: .3em;

        &:first-child {
            border-left: none;
        }
    }
}
