@import "../../../node_modules/normalize.css/normalize.css";

//colors
@cream: #f8efe0;
@blue: #568389;
@yellow: #f8a732;
@brown: #8e6048;
@error: red;

//font-size
@normal: 1rem;
@smaller: .8rem;
@bigger: 1.2rem;

* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: black;
}

body {
    background: @cream;
}

a {
    color: inherit;
}

input[type="submit"] {
    border: none;
}

.container {
    margin-right: auto;
    margin-left: auto;

    @media (min-width: @small-screen) {
        width: @small-screen * .8;
    }
    @media (min-width: @medium-screen) {
        width: @medium-screen * .8;
    }
    @media (min-width: @large-screen) {
        width: @large-screen * .8;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .75em;
    border-radius: 8px;
    border: none;
    font-size: inherit;
}

.colored-btn(@backgroundColor, @textColor) {
    background-color: @backgroundColor;
    color: @textColor;

    &:hover {
        box-shadow: 0 0 5px 5px darken(@backgroundColor, 8%) inset;
    }

    &:active {
        background-color: darken(@backgroundColor, 8%);
        box-shadow: none;
    }
}

.btn-primary {
    .colored-btn(@yellow, black);
}

.form-input() {
    display: block;
    width: 100%;
    padding: .33em;
    border: 1px solid @brown;
    border-radius: 5px;
    margin-bottom: 1em;
    &:focus {
        outline: none;
        border-color: @yellow;
        box-shadow: 0 0 2px 1px @yellow inset;
    }

    .has-error & {
        border-color: @error;
        box-shadow: 0 0 2px 1px @error inset;
    }
}

.has-error .help-block {
    color: @error;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    font-size: inherit;
    .form-input();
}

.global-header {
    color: white;
    background: black;
    padding: 1em;

    .global-header-logo {
        font-size: 2em;
        text-decoration: none;
        color: white;
    }

    .global-header-login {
        font-size: @smaller;
        text-align: right;
    }
}

.global-footer {
    font-size: @smaller;
    padding: 2em;
    background: black;
    color: white;

    .container {
        display: flex;
        justify-content: center;

        > a {
            border-left: 2px solid #D0D0D0;
            padding: 0 1em;

            &:first-child {
                border-left: none;
            }
        }
    }
}
