{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bonjour {{ username }}</h1>
    <h2>Créez votre page éleveur</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}
