{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créez votre page éleveur</h1>
    <form id="creation-page-eleveur" action="/creation-page-eleveur" method="post">
        <input type="submit" value="Créer ma page éleveur">
    </form>
{% endblock %}

{% block stylesheets %}

{% endblock %}
