{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bonjour {{ username }}</h1>
    <a id="page-eleveur" href="{{ pageEleveur.slug }}">Votre page eleveur</a>
{% endblock %}

{% block stylesheets %}

{% endblock %}
