{% extends 'base.html.twig' %}
{% block title %}{{ pageAnimal.nom }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="build/xeditable.css">{% endblock %}
{% block body %}
    <h1>{{ pageAnimal.nom }}</h1>
{% endblock %}
