{% extends 'base.html.twig' %}
{% block title %}{{ pageEleveur.nom }}{% endblock %}
{% block body %}
    <div ng-app="zigoto">
        <div ng-controller="PageEleveurCtrl">
            <h1>{{ pageEleveur.commit.nom }}</h1>
            <section id="description" ng-bind="pageEleveur.commit.description">{{ pageEleveur.commit.description }}</section>
            {% if isOwner %}
                <input type="textarea" ng-model="pageEleveur.commit.description" ng-blur="commit()"/>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if isOwner %}
        <!-- flag owner -->
        <script type="text/javascript">
            // flag const-js
            {% autoescape false %}
                var globPageEleveur = {{ jsonPageEleveur }};
            {% endautoescape %}
        </script>
        <script src="build/angular.js"></script>
        <script src="build/PageEleveurCtrl.js"></script>
    {% endif %}
{% endblock %}