{% extends 'base.html.twig' %}
{% block title %}{{ commit.nom }}{% endblock %}
{% block body %}
    <h1>{{ commit.nom }}</h1>
    <section id="description">{{ commit.description }}</section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var headCommit="{{ commit.id }}";
    </script>
{% endblock %}