{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ pageEleveur.nom }}</h1>
    <section id="description">{{ pageEleveur.description }}</section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
