@import "../../../node_modules/bootstrap/less/variables.less";

html, body {
    height: 100%;
}

.layer {
    display: flex;
    align-items: center;
    text-align: center;

    height: 60%;

    //pour ne pas passer derrière nav
    padding: @navbar-height + @navbar-margin-bottom 0;
    
    //temp
    border-bottom: 1px solid grey;
}