<section class="layer">
    <div class="container">
        <h1>Créez votre site d'éleveur</h1>
        <p>
            Professionnel ou particulier, pour tous types d'élevages (chiens, chats, rongeurs, oiseaux...), <br>
            Aucune connaissance technique n'est nécessaire pour créer votre page éleveur <br>
            Gérez votre contenu : description de l'élevage, actualités, contacts, sans oublier les animaux...<br>
        </p>
        <br>
        <p>
            <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">Créer un compte.</a>
        </p>
    </div>
</section>
<section class="layer">
    <div class="layer-arrow"></div>
    <div class="container">
        <h2>Service gratuit</h2>
        <p>
            Nous ne voulons pas vous avoir comme client mais comme collaborateur.
        </p>
    </div>
</section>
<section class="layer">
    <div class="layer-arrow"></div>
    <div class="container">
        <h2>Simplicité</h2>
        <p>
            Référencement sur les moteurs de recherche, site optimisé pour mobile et tablette, sécurité...<br>
            On s'occupe de tout ca pour vous, pour que vous puissiez vous concentrer sur votre métier.
        </p>
    </div>
</section>
<section class="layer">
    <div class="layer-arrow"></div>
    <div class="container">
        <h2>Inscription</h2>
        <p>
            Il ne vous faudra que quelques minutes pour essayer le service.<br>
            <a href="{{ path('fos_user_registration_register') }}">Créer un compte.</a>
        </p>
    </div>
</section>
