<div class="container padded">
    <h1>Créez votre page éleveur</h1>
    <div class="grid-4-small-1">
        {{ form(creationPageEleveur, { 'attr': {'class': 'form flex-item-double middle'} }) }}
    </div>
</div>