<article class="container content">
    <h1>Notre but est d'aider les éleveurs à être présent sur internet</h1>

    <h2>Qui sommes nous ?</h2>
    <p>
        Meb et Paf, deux passionnés du web. Nous sommes développeurs de carrière et nous sommes lancés dans
        ce projet car nous pensons pouvoir vous rendre un grand service.
    </p>

    <h2>Comment a démarré Zigotoo ?</h2>
    <p>
        Côté Paf, ça s'est passé lorsque je cherchais à adopter un lapin au courant de l'été 2015.
        Je me suis rendu compte qu'il n'y avait rien d'autre sur internet que des petites annonces. Je n'avais
        aucun moyen de trouver facilement des informations sur la provenance des animaux, de la
        fiabilité des éleveurs, etc.
    </p>
    <p>
        Côté Meb, je suis un éleveur amateur de canaris depuis des années. Je trouve mes oiseaux essentiellement
        par des éleveurs que je connais ou que je rencontre sur des marchés. J'en suis venu à la même conclusion
        que Paf, les éleveurs n'ont pas une bonne présence sur internet.
    </p>

    <h2>Quelles sont nos ambitions ?</h2>
    <p>
        A court terme, nous voulons qu'internet ne soit plus une barrière mais un moyen facile pour vous
        de promouvoir votre activité, que vous soyez professionnel ou amateur. Nous voulons également vous permettre
        de pouvoir vous construire une réputation sur la durée.
    </p>
    <p>
        A long terme, notre but est de rapprocher les éleveurs des propriétaires ou futur propriétaires d'animaux.
        <strong>Nous voulons que l'acte d'adoption devienne un service rendu entre personnes plutôt qu'un achat en magasin.</strong>
    </p>
</article>