<section>
    <div class="container">
        <h1>Créez votre site d'éleveur</h1>
        <p>
            Amis éleveur professionnel ou particulier, l'idée de faire ton site perso ne t'enchante pas vraiment ?
            Zigotoo là pour toi ! Description de l'élevage, actualités, contacts, sans oublier les animaux...
            Créer une page éleveur ne coute pas un rond !
        </p>
        <p>
            On parle ici d'animaux domestiques (chiens, chats, rongeurs, oiseaux...) mais si tu as d'autres genre de bebêtes, tu es aussi le bienvenue !
        </p>
    </div>
</section>

<section>
    <div class="container">
        <h2>Gratuit, mais comment ca ?</h2>
        <p>
            Nous sommes deux développeurs web qui voulons rendre service. Pas d'actionnaires, pas de prime sur bénéfices. C'est entre vous et nous.
        </p>

        <h2>C'est quoi le hic alors ?</h2>

        <p>
            Eh bien... c'est que le site n'est pas encore en ligne.
            Si ca t'intéresse, laisse nous un mot, un +1 ou une adresse mail
        </p>
    </div>
</section>
