<div id="confirmation" class="container padded">
    Merci d'avoir pris le temps de nous écrire.<br>
    Nous vous répondrons à l'adresse <strong>{{ email }}</strong> dans les plus brefs délais.
</div>