.editable-empty {
    font-style: italic;
}

.editable-hide {
    display: none !important;
}

.editable {
    cursor: pointer;
    border: dashed 1px @brown;
}

.editable-buttons {
    display: block;
    margin: .2em;
    font-size: @smaller;
    .btn {
        display: inline;
        margin-right: 1em;
    }
}

.oneline-field {
    padding: .2em 0;
}

.multi-line {
    white-space: pre-line; // https://developer.mozilla.org/fr/docs/Web/CSS/white-space
}
